@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: alphaSlabRegular;
  src: url(../fonts/AlfaSlabOne-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue-Regular.woff);
  font-weight: normal;
}
