$primary_color: #3d2514;
$secondary_color: #ffc045;
$button_bg: #bf2222;
$button_color: #fff;
$textbox_color: #3d3d3d;

$textbox_border: #bebebe;
$textbox_radius: 0.3rem;
$textbox_height: 4rem;
$textbox_padding: 0px 1.37rem;

$link_hover: #bf2222;

$button_font: 1rem alphaSlabRegular, Arial, Helvetica, sans-serif;
$button_casing: uppercase;
$button_height: 3.56rem;

$body_font: 1rem "Montserrat", sans-serif;
$section_head_font: 3.125rem alphaSlabRegular, Arial, Helvetica, sans-serif;

$section_sub_font: 700 2.344rem BebasNeue, Arial, Helvetica, sans-serif;
